<<h2>商品新規登録</h2>


<%= form_with model: @item, url:'/admin#items' do |f| %>
  <P>商品画像</P><%= f.file_field :image, accept: "image/*" %>
  <div class="field">
    <%= f.label :"商品名" %>
    <%= f.text_field :name, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :"商品説明" %>
    <%= f.text_area :introduction, autofocus: true %>
    <%#= f.text_area :body, :class =>'form-control book_body' %>
  </div>
  <div class="form-group">
    <%= f.label  'ジャンル' %>
    <!--<%#= f.select :genre_id, options_from_collection_for_select(genre.all), { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>-->
  </div>

  <div class="field">
    <%= f.label :"税抜価格" %>
    <%= f.text_field :price, autofocus: true %>
  </div>
  <p>販売ステータス</p>
  <%= f.radio_button :is_active, "TRUE" %>
  <%= f.label :is_active, "販売中" %>
  
  <%= f.radio_button :is_active, "FALSE" %>
  <%= f.label :is_active, "販売停止中" %>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>

<% end %>


