<h3>商品新規登録</h3>

<div class="container", align="center">
    <table style="border:none;", :class="table" >
    <thead>


      <%= form_with model: @item, url:'/admin#items' do |f| %>
        <tr>
          <th>商品画像</th>
          <td><%= f.file_field :image, accept: "image/*" %></td>
        </tr>
        <tr class="field">
          <th valign="middle"><%= f.label :"商品名" %></th>
          <td><%= f.text_field :name, :size=>"60", autofocus: true %></td>
        </tr>
        <tr class="field">
          <th><%= f.label :"商品説明" %></th>
          <td><%= f.text_field :introduction, :size=>"60x300", autofocus: true %></td>
          <%#= f.text_area :body, :class =>'form-control book_body' %>
        </tr>
        <tr class="form-group">
          <th><%= f.label  'ジャンル' %></th>
          <td><!--<%#= f.select :genre_id, options_from_collection_for_select(genre.all), { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>--></td>
        </tr>
        <tr class="field">
          <th valign="middle"><%= f.label :"税抜価格" %></th>
          <td><%= f.text_field :price, autofocus: true %></td>
        </tr>
        <tr class="field">
          <th><%= f.label :"販売ステータス" %></th>
          <td><%= f.radio_button :is_active, "TRUE", {:checked => true}  %>
              <%= f.label :is_active, "販売中" %>
          <%= f.radio_button :is_active, "FALSE" %>
          <%= f.label :is_active, "販売停止中" %></td>
        </tr>
        <tr>
          <th class="actions"><%= f.submit "新規登録", :class =>'btn btn-success' %></th>
          
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


